# پوشه پکیج‌های نود را نادیده بگیر چون داخل کانتینر دوباره نصب می‌شوند.
node_modules

# پوشه بیلد را نادیده بگیر (ما آن را داخل داکر می‌سازیم).
build

# فایل‌های لاگ npm را نادیده بگیر.
npm-debug.log

# فایل‌های مربوط به سیستم‌عامل مک و ویندوز را نادیده بگیر.
.DS_Store
Thumbs.db

# فایل‌های مربوط به تنظیمات محیطی که نباید در ایمیج نهایی باشند.
.env
